# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++ specific files
*.gch
*.pch
*.d
*.gcda
*.gcno

# Build folder
build/

# Dependency folder
dependencies/

# PDF and DOC files
*.pdf
*.doc

# Tarball of compiled files
*.tar.gz
*.tar

# IDE specific files
.vscode/
.DS_Store